#playButton {
	-fx-background-color: #69c28d;
}

#playButton:hover {
	-fx-background-color: #58a878;
}


#drawButton {
	-fx-background-color: #7e69c9;
	
}

#drawButton:hover {
	-fx-background-color: #6a54b8;
	
}

#unoButton {
	-fx-background-color: #EF5B5B;
}

#unoButton:hover {
	-fx-background-color: #e84848;
}

.actionbutton {
	-fx-background-radius: 14;
	-fx-padding: 24;
}

#redColorButton {
	-fx-background-color: #EF5B5B;
}

#redColorButton:hover {
	-fx-background-color: #e84848;
}


#blueColorButton {
	-fx-background-color: #56cfe1;
}

#blueColorButton:hover {
	-fx-background-color: #43bacc;
}


#yellowColorButton {
	-fx-background-color: #e1d556;
}

#yellowColorButton:hover {
	-fx-background-color: #ccc03f;
}

#greenColorButton {
	-fx-background-color: #69c28d;
}

#greenColorButton:hover {
	-fx-background-color: #58a878;
}

.colorbutton {
	-fx-background-radius: 10;
}
